<% title "API" %>

<p>Die JSON-API ermöglicht das Steuern des Spiels vom Frontend aus, die URLs können aber auch direkt mit dem Browser getestet werden.</p>
<p>Um zum Beispiel eine Stadt ohne Umweg über das Frontend anzulegen, genügt der folgende Aufruf:</p>
<p><%= link_to create_city_url + "?city[name]=", create_city_path + "?city[name]=", class: :ajax %><strong>*Name der Stadt*</strong></p>
<p>Falls der Aufruf fehlerhaft ist, werden entsprechende Hinweise gegeben.</p>

<h4>API-Übersicht (Backend)</h4>
<%= action_dump(Actions::backend_actions, :ajax).html_safe %>

<h4>Frontend-Aktionen</h4>
<%= action_dump(Actions::frontend_actions, nil).html_safe %>

<h4>Mögliche Gebäudetypen</h4>
(Nur die untergeordneten Typen können genutzt werden, die fett gedruckten dienen zur Gruppierung.)
<ul>
<% @types.each do |supertype, types| %>
  <li>
    <strong><%= supertype %></strong>
    <ul>
      <% types.each do |type| %>
        <li><%= link_to type, create_building_path(city_id: '*city_id*') + "?building[type]=" + type, class: :ajax %>&nbsp;&nbsp;&nbsp;<sub><em><%= type.constantize.new(level: 1).title %></em></sub></li>
      <% end %>
    </ul>
  </li>
<% end %>
</ul>