<% title "Start" %>

<p>Dies ist das Backend von tranzfiction.</p>
<p>Um zu spielen, besuche <%= link_to "das Frontend", Defaults::Routes::frontend_url %>.</p>

<h3>Spielstand</h3>

<p>Dir gehören die folgenden Städte:</p>

<% if @cities.empty? %>
<p><strong>Du hast noch keine Städte.</strong></p>
<% else %>
<ul>
  <% @cities.each do |city| %>
  <li><%= link_to city.name, city, class: [:big, :ajax] %> <sub><%= city.resources.to_json %></sub>
    <ul>
      <% city.buildings.each do |building| %>
      <li><%= link_to "#{building.title}", building_path(city_id: city.id, building_id: building.id), class: [:big, :ajax] %> (Lvl. <%= building.level %>)</li>
      <% end %>
    </ul>
  </li>
  <% end %>
</ul>
<% end %>