<% title "Account bearbeiten" %>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <table class="table table-striped">
    <tbody>
      <tr>
        <td>E-Mail</td>
        <td><%= f.email_field :email, :autofocus => true %></td>
      </tr>
      <tr>
        <td>Neues Passwort</td>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td>Passwort bestätigen</td>
        <td><%= f.password_field :password_confirmation %></td>
      </tr>
      <tr>
      <td>Aktuelles Passwort</td>
      <td><%= f.password_field :current_password %></td>
      </tr>
      <tr>
      <td>Planet</td>
      <td><%= f.text_field :planet %></td>
      </tr>
      <tr>
        <td></td>
        <td><%= f.submit "Speichern" %></td>
      </tr>
    </tbody>
  </table>  

  <% if devise_mapping.confirmable? and resource.pending_reconfirmation? %>
    <div>Muss noch bestätigt werden: <%= resource.unconfirmed_email %></div>
  <% end %>

<% end %>

<p><%= button_to "Account löschen", registration_path(resource_name), :data => { :confirm => "Sicher?" }, :method => :delete %></p>

<%= link_to "Zurück", :back %>
