<% title "Benutzer" %>

<table class="table table-striped">
  <thead>
    <tr>
      <th>E-Mail</th>
      <th>Admin</th>
      <th>Logins</th>
      <th>Aktueller Login</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td><%= user.email %></td>
      <td><%= user.admin? ? "Ja" : "Nein" %></td>
      <td><%= user.sign_in_count %></td>
      <td><%= user.current_sign_in_at? ? user.current_sign_in_at.strftime("%d.%m.%Y %H:%M Uhr") : "Nie" %></td>
      <td><%= link_to 'Anzeigen', admin_user_path(user) %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'Bearbeiten', edit_admin_user_path(user) %>&nbsp;&nbsp;&nbsp;
        <%= link_to 'Löschen', admin_user_path(user), method: :delete, data: { confirm: 'Sicher?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Neuer Benutzer', new_admin_user_path %>
