<% title @user.email %>

<table class="table table-striped">
  <tbody>
    <tr>
      <td>E-Mail</td>
      <td><%= @user.email %></td>
    </tr>
    <tr>
      <td>Planet</td>
      <td><%= @user.planet %></td>
    </tr>
    <tr>
      <td>Admin</td>
      <td><%= @user.admin? ? "Ja" : "Nein" %></td>
    </tr>
    <tr>
      <td>Registriert</td>
      <td><%= l @user.created_at %></td>
    </tr>
    <tr>
      <td>Bestätigt</td>
      <td><%= @user.confirmed_at? ? l(@user.confirmed_at) : "Nie" %></td>
    </tr>
    <tr>
      <td>Anzahl Logins</td>
      <td><%= @user.sign_in_count %></td>
    </tr>
    <tr>
      <td>Aktueller Login</td>
      <td><%= @user.current_sign_in_at? ? l(@user.current_sign_in_at) : "Nie" %></td>
    </tr>
    <tr>
      <td>Letzter Login</td>
      <td><%= @user.last_sign_in_at? ? l(@user.last_sign_in_at) : "Nie" %></td>
    </tr>
    <tr>
      <td>Aktuelle IP</td>
      <td><%= @user.current_sign_in_ip? ? @user.current_sign_in_ip : "Nie" %></td>
    </tr>
    <tr>
      <td>Letzte IP</td>
      <td><%= @user.last_sign_in_ip? ? @user.last_sign_in_ip : "Nie" %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Bearbeiten', edit_admin_user_path(@user) %> |
<%= link_to 'Löschen', admin_user_path(@user), method: :delete, data: { confirm: 'Sicher?' } %> |
<%= link_to 'Zurück', admin_users_path %>
